@charset "UTF-8";
*{
	font-weight:bold;
	color:#F09609;
}

a:hover{
	text-decoration:none;
	font-weight:bold;
	text-shadow: 1px 1px 1px yellow;
}

/*
Main style
*/
.userFlashMessages {
	margin: 2%; margin-top:20px; margin-bottom:20px; display:table;
}	
	

/*
Header style
*/
.renton-nav {
	background-color:#337ab7;
	box-shadow:1px 1px 1px #F09609;
	border-radius:0px; 
	border: 1px solid #F09609;
}

.navLi>a{
	color:white;
	text-shadow: 1px 1px 1px black;
	font-size:18px;
	padding: 10px;
	border-radius:5px;
}

.navLi>a:hover{
	background-color:#F09609;	
	text-shadow:none;
}

.navbar-nav >li >a {
	padding-top:10px;
	padding-bottom:10px;
}

.navLi {
	margin-top:12px;
	margin-right:20px;
	list-style:none;
}

.navLi::last-child {
	margin-top:10px;
	list-style:none;
}

.navUl {
	padding:0px;
	margin:0px;
	padding-top: 3px;
	margin-left:5%;
}

.renton-DropdownMenu{
	margin-top: 3px;
    padding: 5px 5px;
	border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
	top:120%;
	min-width:150px;
}

.navbar-header {
	width: 120px;
    margin-left: 10px;
}

.logo {
	width: 100px;
    margin: -12px;
    margin-left: 5px;
    border-radius: 2px;
}

.logo:hover {
	box-shadow: 2px 2px 2px black;
}

#collapse-btn1:focus, #collapse-btn1:hover, #collapse-btn1:active{
	text-decoration:none;
	color:white;
}

.userIcons{
	height: 15px;
    width: 15px;
}

/*
Center style
*/
#page-container {
    position: relative;
    min-height: 86vh;
    padding-left: 5px;
	margin-left:10px;
	margin-right:10px;
}

footer {
	position: relative;
	bottom: 5%;
	text-align:center;
	background-color:#337ab7;
	width: 100%;
	color:white;
	text-shadow: 1px 1px 1px black;
	border: 1px solid #F09609;
}

footer>a{
	color:white;
	cursor:pointer;
}

/*
Special style
*/
#welcomeMessage {
	margin:30px;
	text-align:center;
	color:#F09609;
	font-size:200%;
}

#topSells {
	margin-bottom:20px;
	text-align:center;
}

.topAdvs{width:100px; 
		float:left;
		margin-left:50px;
		margin-bottom:30px;
		height:120px;
		overflow:hidden;
		font-size:12px;
		}

form {
	width: 600px;
	margin:2%;
	padding: 4px;
	text-align:center;
}

form>div{
	margin:10px;
}

.searchForm {
	border: 1px solid #F09609;
	border-radius:5px;
	padding:6px;
	width:500px;
}

.renton-Table {
	margin: 2%;
	width: 600px;
	height: 220px;
	
}

.renton-Table>tbody>tr>td{
	width: 50%;
	color:black;
}

.renton-Pics-InputField {
	width:100%;
}

.renton-Advs-RadioBtn{
	margin: 0px !important;
	margin-left: 1px !important;
    margin-right: 6px !important;
    position: relative;
    top: 2px;
}

.form-group>div {
	margin:5px;
}

#collapse-btnS{
	cursor:pointer;
}

#collapses{
	display:none;
}

.tableSetts {
	background-color:#dff0d8;
	padding-right: 50px;
	padding-bottom: 6px;
	margin:0px;
	margin-bottom:15px;
	width: 150px;
}

.tableSetts:last-child {
	padding-bottom: 3px;
    padding-right: 30px;
    padding-left: 60px;
    width: 60%;
    text-align: center;
}

#searchField {
	margin-top:0px;
	margin-right:0px;
	padding-right:0px;
	padding-top:0px;
}

#searchFieldBtn{
	padding:4px;
}

#advTextArea {
	width:95%;
	height:134px;
}

.renton-SuccessBtn{
	margin-left:3%;
	background-color:#F09609;
	color:white;
}

.contact-logo{
	width:300px;
	border:2px solid black
}

.advMoreImage{
	width:60%;
}

.messageTable {
	margin: 3%;
	width: 75%;
	height: 40%;
}

#messageTextArea {
	width:100%;
	height:300px;
}

.messageManagerTable {
	width:70%;
	text-align:center;
}

.messageManagerTable>thead>tr>th{
	text-align:center;
}

.messageManagerTable>tbody>tr>td{
	color:#222;
}

.newMessage {
	background-color:lightgrey;
}

.messageManagerMenu{
	list-style: none;
    float: left;
    padding-right: 40px;
}

.eye {
	width:20px;
}

.paginationContainer {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.regProfFields {
	width:64%;
	text-align: start;
}

.regProfFieldContainer>label {
	color:black;
}

.regProfField{
	width:15px;
	height:15px;
	width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    left: 7px;
}

.regProfFieldContainer{
	width:100px; 
	display:inline-block;
}

.menuSelected {
	background-color: lightgray;
    border-radius: 5px;
    padding: 8px;
    margin-left: 2px;
}

.menuSelected:after {
	border: solid 8px transparent;
	content: " ";
	font-size:0px;
	position: relative;
	border-right-color: white;
	bottom:5px;
	left: 30px;
}

.renton-card-header {
	font-size:200%;
	color:black;
}

.renton-input {
	width:70%;
}

/*
Responsive style
*/
@media screen and (max-width: 959px) {
	.navLi {
		margin-bottom:10px;
		margin-top: 12px;
		margin-right: 20px;
		list-style: none;
	}
	
	#page-container {
    position: relative;
	display: flow-root;
    padding-left: 5px;
	margin-left:10px;
	margin-right:10px;
	}
	
	.dropdown-menu-right {
		left:0px;
		right:auto;		
	}
}

@media screen and (max-width: 700px) {
	form, .searchForm{
		width:100%;
	}
	
	.navLi>a{
		font-size:14px;
	}
	
	.renton-card-header{
		font-size:16px;
	}
	
	
	.btn,.form-control, *{
		font-size:12px;
	}
	
	.tableSetts:last-child{
	padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    width: 88%;
    text-align: center;
	}
	
	.regProfFields {
	text-align:end;
	}
}

@media screen and (max-width: 530px) {
	.renton-Table, .renton-Table>tbody>tr>td>img{
		width:100%;
	}
	
	.renton-card-header, .navLi>a{
		font-size:12px;
	}
	
	.btn,.form-control, *{
		font-size:10px;
	}
}

@media screen and (max-width: 370px) {
	.contact-logo{
		width:100%;
	}
	iframe{
		width:100%;
	}
	
	.regProfFields {
	text-align:center;
	}
}