*{
	text-align:center;
}
#footerNav, #headerNav{
	background-color: #5bc0de;
}

#footerNav a, #headerNav a{
	color:#ffff33;
}

#footerNav {
	position:fixed;
	bottom:0px;
	width:100%;
}

#footerNav a{
	font-size:10px;
	margin-left:46%;
}


#questionTable>tbody>tr>td {
	border:2px solid white;
}

#questionTable>tbody>tr>td:hover {
	background-color:yellow;
}

#timer{
	width:35px;
}

#correctAnswer {
	display:none;
}

#answer {
	display:none;
}
